include *.md
include LICENSE
include azure/programmable/connectivity/py.typed
recursive-include tests *.py
recursive-include samples *.py *.md
include azure/__init__.py
include azure/programmable/__init__.py