# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from collections.abc import MutableMapping
from io import IOBase
from typing import Any, Callable, Dict, IO, Optional, TypeVar, Union, overload

from azure.core import PipelineClient
from azure.core.exceptions import (
    ClientAuthenticationError,
    HttpResponseError,
    ResourceExistsError,
    ResourceNotFoundError,
    ResourceNotModifiedError,
    map_error,
)
from azure.core.pipeline import PipelineResponse
from azure.core.rest import HttpRequest, HttpResponse
from azure.core.tracing.decorator import distributed_trace
from azure.core.utils import case_insensitive_dict
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models as _models
from .._configuration import AzuredatatransferrpConfiguration
from .._serialization import Deserializer, Serializer

T = TypeVar("T")
ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

_SERIALIZER = Serializer()
_SERIALIZER.client_side_validation = False


def build_validate_schema_request(**kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2025-03-01-preview"))
    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop("template_url", "/providers/Microsoft.AzureDataTransfer/validateSchema")

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_list_approved_schemas_request(**kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2025-03-01-preview"))
    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop("template_url", "/providers/Microsoft.AzureDataTransfer/listApprovedSchemas")

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


class AzureDataTransferOperations:
    """
    .. warning::
        **DO NOT** instantiate this class directly.

        Instead, you should access the following operations through
        :class:`~azure.mgmt.azuredatatransfer.Azuredatatransferrp`'s
        :attr:`azure_data_transfer` attribute.
    """

    models = _models

    def __init__(self, *args, **kwargs):
        input_args = list(args)
        self._client: PipelineClient = input_args.pop(0) if input_args else kwargs.pop("client")
        self._config: AzuredatatransferrpConfiguration = input_args.pop(0) if input_args else kwargs.pop("config")
        self._serialize: Serializer = input_args.pop(0) if input_args else kwargs.pop("serializer")
        self._deserialize: Deserializer = input_args.pop(0) if input_args else kwargs.pop("deserializer")

    @overload
    def validate_schema(
        self, schema: _models.Schema, *, content_type: str = "application/json", **kwargs: Any
    ) -> _models.ValidateSchemaResult:
        """Validates a schema for Azure Data Transfer.

        :param schema: The schema to validate. Required.
        :type schema: ~azure.mgmt.azuredatatransfer.models.Schema
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: ValidateSchemaResult or the result of cls(response)
        :rtype: ~azure.mgmt.azuredatatransfer.models.ValidateSchemaResult
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def validate_schema(
        self, schema: IO[bytes], *, content_type: str = "application/json", **kwargs: Any
    ) -> _models.ValidateSchemaResult:
        """Validates a schema for Azure Data Transfer.

        :param schema: The schema to validate. Required.
        :type schema: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: ValidateSchemaResult or the result of cls(response)
        :rtype: ~azure.mgmt.azuredatatransfer.models.ValidateSchemaResult
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def validate_schema(self, schema: Union[_models.Schema, IO[bytes]], **kwargs: Any) -> _models.ValidateSchemaResult:
        """Validates a schema for Azure Data Transfer.

        :param schema: The schema to validate. Is either a Schema type or a IO[bytes] type. Required.
        :type schema: ~azure.mgmt.azuredatatransfer.models.Schema or IO[bytes]
        :return: ValidateSchemaResult or the result of cls(response)
        :rtype: ~azure.mgmt.azuredatatransfer.models.ValidateSchemaResult
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version: str = kwargs.pop("api_version", _params.pop("api-version", self._config.api_version))
        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[_models.ValidateSchemaResult] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(schema, (IOBase, bytes)):
            _content = schema
        else:
            _json = self._serialize.body(schema, "Schema")

        _request = build_validate_schema_request(
            api_version=api_version,
            content_type=content_type,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.ErrorResponse, pipeline_response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize("ValidateSchemaResult", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore

    @overload
    def list_approved_schemas(
        self, pipeline: _models.ListApprovedSchemasRequest, *, content_type: str = "application/json", **kwargs: Any
    ) -> _models.SchemasListResult:
        """Lists approved schemas for Azure Data Transfer.

        :param pipeline: The request to list approved schemas. Required.
        :type pipeline: ~azure.mgmt.azuredatatransfer.models.ListApprovedSchemasRequest
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: SchemasListResult or the result of cls(response)
        :rtype: ~azure.mgmt.azuredatatransfer.models.SchemasListResult
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def list_approved_schemas(
        self, pipeline: IO[bytes], *, content_type: str = "application/json", **kwargs: Any
    ) -> _models.SchemasListResult:
        """Lists approved schemas for Azure Data Transfer.

        :param pipeline: The request to list approved schemas. Required.
        :type pipeline: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: SchemasListResult or the result of cls(response)
        :rtype: ~azure.mgmt.azuredatatransfer.models.SchemasListResult
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def list_approved_schemas(
        self, pipeline: Union[_models.ListApprovedSchemasRequest, IO[bytes]], **kwargs: Any
    ) -> _models.SchemasListResult:
        """Lists approved schemas for Azure Data Transfer.

        :param pipeline: The request to list approved schemas. Is either a ListApprovedSchemasRequest
         type or a IO[bytes] type. Required.
        :type pipeline: ~azure.mgmt.azuredatatransfer.models.ListApprovedSchemasRequest or IO[bytes]
        :return: SchemasListResult or the result of cls(response)
        :rtype: ~azure.mgmt.azuredatatransfer.models.SchemasListResult
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version: str = kwargs.pop("api_version", _params.pop("api-version", self._config.api_version))
        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[_models.SchemasListResult] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(pipeline, (IOBase, bytes)):
            _content = pipeline
        else:
            _json = self._serialize.body(pipeline, "ListApprovedSchemasRequest")

        _request = build_list_approved_schemas_request(
            api_version=api_version,
            content_type=content_type,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.ErrorResponse, pipeline_response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize("SchemasListResult", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore
