include *.md
include LICENSE
include azure/appconfiguration/provider/py.typed
recursive-include tests *.py
recursive-include samples *.py *.md
include azure/__init__.py
include azure/appconfiguration/__init__.py