include *.md
include LICENSE
include azure/ai/translator/document/py.typed
recursive-include tests *.py
recursive-include samples *.py *.md
include azure/__init__.py
include azure/ai/__init__.py
include azure/ai/translator/__init__.py