# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------

from azure.identity import DefaultAzureCredential

from azure.mgmt.migrationassessment import AzureMigrateAssessmentService

"""
# PREREQUISITES
    pip install azure-identity
    pip install azure-mgmt-migrationassessment
# USAGE
    python aks_assessment_operations_create_maximum_set_gen.py

    Before run the sample, please set the values of the client ID, tenant ID and client secret
    of the AAD application as environment variables: AZURE_CLIENT_ID, AZURE_TENANT_ID,
    AZURE_CLIENT_SECRET. For more info about how to get the value, please see:
    https://docs.microsoft.com/azure/active-directory/develop/howto-create-service-principal-portal
"""


def main():
    client = AzureMigrateAssessmentService(
        credential=DefaultAzureCredential(),
        subscription_id="D6F60DF4-CE70-4E39-8217-B8FBE7CA85AA",
    )

    response = client.aks_assessment_operations.begin_create(
        resource_group_name="rgaksswagger",
        project_name="testproject",
        assessment_name="testaksassessment",
        resource={
            "properties": {
                "scope": {
                    "serverGroupId": "/subscriptions/D6F60DF4-CE70-4E39-8217-B8FBE7CA85AA/resourceGroups/rgaksswagger/providers/Microsoft.Migrate/assessmentProjects/testproject/groups/testgrp"
                },
                "settings": {
                    "azureLocation": "Unknown",
                    "category": "All",
                    "consolidation": "Full",
                    "currency": "Unknown",
                    "discountPercentage": 15,
                    "environmentType": "Unknown",
                    "licensingProgram": "Default",
                    "performanceData": {
                        "percentile": "Percentile50",
                        "perfDataEndTime": "2023-11-07T06:51:24.320Z",
                        "perfDataStartTime": "2023-11-07T06:51:24.320Z",
                        "timeRange": "Day",
                    },
                    "pricingTier": "Standard",
                    "savingsOptions": "None",
                    "scalingFactor": 3,
                    "sizingCriteria": "PerformanceBased",
                },
            }
        },
    ).result()
    print(response)


# x-ms-original-file: specification/migrate/resource-manager/Microsoft.Migrate/AssessmentProjects/preview/2023-09-09-preview/examples/AksAssessmentOperations_Create_MaximumSet_Gen.json
if __name__ == "__main__":
    main()
