# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------

from azure.identity import DefaultAzureCredential

from azure.mgmt.migrationassessment import AzureMigrateAssessmentService

"""
# PREREQUISITES
    pip install azure-identity
    pip install azure-mgmt-migrationassessment
# USAGE
    python web_app_collector_operations_create_maximum_set_gen.py

    Before run the sample, please set the values of the client ID, tenant ID and client secret
    of the AAD application as environment variables: AZURE_CLIENT_ID, AZURE_TENANT_ID,
    AZURE_CLIENT_SECRET. For more info about how to get the value, please see:
    https://docs.microsoft.com/azure/active-directory/develop/howto-create-service-principal-portal
"""


def main():
    client = AzureMigrateAssessmentService(
        credential=DefaultAzureCredential(),
        subscription_id="6D59B561-47B6-4AB8-84B5-39CF2B808C26",
    )

    response = client.web_app_collector_operations.begin_create(
        resource_group_name="rgopenapi",
        project_name="sumukk-ccy-bcs4557project",
        collector_name="collector1",
        resource={
            "properties": {
                "agentProperties": {
                    "id": "fed93df5-b787-4e3f-a764-e3d2b9101a59-agent",
                    "lastHeartbeatUtc": "2023-11-03T05:43:02.078Z",
                    "spnDetails": {
                        "applicationId": "2f70d5e8-7adc-4c64-910a-7031079efc6e",
                        "audience": "2f70d5e8-7adc-4c64-910a-7031079efc6e",
                        "authority": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
                        "objectId": "2f70d5e8-7adc-4c64-910a-7031079efc6e",
                        "tenantId": "2f70d5e8-7adc-4c64-910a-7031079efc6e",
                    },
                    "version": None,
                },
                "discoverySiteId": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sumukk-ccy-bcs/providers/Microsoft.OffAzure/MasterSites/sumukk-ccy-bcs9880mastersite/WebAppSites/sumukk-ccy-bcs9880webappsites",
            }
        },
    ).result()
    print(response)


# x-ms-original-file: specification/migrate/resource-manager/Microsoft.Migrate/AssessmentProjects/preview/2023-09-09-preview/examples/WebAppCollectorOperations_Create_MaximumSet_Gen.json
if __name__ == "__main__":
    main()
