# pylint: disable=too-many-lines
# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from io import IOBase
from typing import Any, Callable, Dict, IO, Optional, TypeVar, Union, overload

from azure.core.exceptions import (
    ClientAuthenticationError,
    HttpResponseError,
    ResourceExistsError,
    ResourceNotFoundError,
    ResourceNotModifiedError,
    map_error,
)
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpResponse
from azure.core.rest import HttpRequest
from azure.core.tracing.decorator import distributed_trace
from azure.core.utils import case_insensitive_dict
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models as _models
from ..._serialization import Serializer
from .._vendor import SecurityCenterMixinABC, _convert_request

T = TypeVar("T")
ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

_SERIALIZER = Serializer()
_SERIALIZER.client_side_validation = False


def build_update_sensitivity_settings_request(**kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2023-02-15-preview"))
    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop("template_url", "/providers/Microsoft.Security/sensitivitySettings/current")

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="PUT", url=_url, params=_params, headers=_headers, **kwargs)


def build_get_sensitivity_settings_request(**kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2023-02-15-preview"))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop("template_url", "/providers/Microsoft.Security/sensitivitySettings/current")

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


class SecurityCenterOperationsMixin(SecurityCenterMixinABC):
    def _api_version(self, op_name: str) -> str:  # pylint: disable=unused-argument
        try:
            return self._config.api_version
        except:  # pylint: disable=bare-except
            return ""

    @overload
    def update_sensitivity_settings(
        self,
        sensitivity_settings: _models.UpdateSensitivitySettingsRequest,
        *,
        content_type: str = "application/json",
        **kwargs: Any
    ) -> _models.GetSensitivitySettingsResponse:
        """Updates data sensitivity settings for sensitive data discovery.

        :param sensitivity_settings: The data sensitivity settings to update. Required.
        :type sensitivity_settings:
         ~azure.mgmt.security.v2023_02_15_preview.models.UpdateSensitivitySettingsRequest
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: GetSensitivitySettingsResponse or the result of cls(response)
        :rtype: ~azure.mgmt.security.v2023_02_15_preview.models.GetSensitivitySettingsResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def update_sensitivity_settings(
        self, sensitivity_settings: IO, *, content_type: str = "application/json", **kwargs: Any
    ) -> _models.GetSensitivitySettingsResponse:
        """Updates data sensitivity settings for sensitive data discovery.

        :param sensitivity_settings: The data sensitivity settings to update. Required.
        :type sensitivity_settings: IO
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: GetSensitivitySettingsResponse or the result of cls(response)
        :rtype: ~azure.mgmt.security.v2023_02_15_preview.models.GetSensitivitySettingsResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def update_sensitivity_settings(
        self, sensitivity_settings: Union[_models.UpdateSensitivitySettingsRequest, IO], **kwargs: Any
    ) -> _models.GetSensitivitySettingsResponse:
        """Updates data sensitivity settings for sensitive data discovery.

        :param sensitivity_settings: The data sensitivity settings to update. Is either a
         UpdateSensitivitySettingsRequest type or a IO type. Required.
        :type sensitivity_settings:
         ~azure.mgmt.security.v2023_02_15_preview.models.UpdateSensitivitySettingsRequest or IO
        :keyword content_type: Body Parameter content-type. Known values are: 'application/json'.
         Default value is None.
        :paramtype content_type: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: GetSensitivitySettingsResponse or the result of cls(response)
        :rtype: ~azure.mgmt.security.v2023_02_15_preview.models.GetSensitivitySettingsResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version: str = kwargs.pop(
            "api_version",
            _params.pop("api-version", self._api_version("update_sensitivity_settings") or "2023-02-15-preview"),
        )
        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[_models.GetSensitivitySettingsResponse] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(sensitivity_settings, (IOBase, bytes)):
            _content = sensitivity_settings
        else:
            _json = self._serialize.body(sensitivity_settings, "UpdateSensitivitySettingsRequest")

        request = build_update_sensitivity_settings_request(
            api_version=api_version,
            content_type=content_type,
            json=_json,
            content=_content,
            template_url=self.update_sensitivity_settings.metadata["url"],
            headers=_headers,
            params=_params,
        )
        request = _convert_request(request)
        request.url = self._client.format_url(request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize("GetSensitivitySettingsResponse", pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized

    update_sensitivity_settings.metadata = {"url": "/providers/Microsoft.Security/sensitivitySettings/current"}

    @distributed_trace
    def get_sensitivity_settings(self, **kwargs: Any) -> _models.GetSensitivitySettingsResponse:
        """Gets data sensitivity settings for sensitive data discovery.

        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: GetSensitivitySettingsResponse or the result of cls(response)
        :rtype: ~azure.mgmt.security.v2023_02_15_preview.models.GetSensitivitySettingsResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version: str = kwargs.pop(
            "api_version",
            _params.pop("api-version", self._api_version("get_sensitivity_settings") or "2023-02-15-preview"),
        )
        cls: ClsType[_models.GetSensitivitySettingsResponse] = kwargs.pop("cls", None)

        request = build_get_sensitivity_settings_request(
            api_version=api_version,
            template_url=self.get_sensitivity_settings.metadata["url"],
            headers=_headers,
            params=_params,
        )
        request = _convert_request(request)
        request.url = self._client.format_url(request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize("GetSensitivitySettingsResponse", pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized

    get_sensitivity_settings.metadata = {"url": "/providers/Microsoft.Security/sensitivitySettings/current"}
