include *.md
include LICENSE
include azure/applicationinsights/livemetrics/py.typed
recursive-include tests *.py
recursive-include samples *.py *.md
include azure/__init__.py
include azure/applicationinsights/__init__.py