# pylint: disable=too-many-lines
# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from io import IOBase
from typing import Any, Callable, Dict, IO, Iterable, List, Optional, TypeVar, Union, overload
import urllib.parse

from azure.core.exceptions import (
    ClientAuthenticationError,
    HttpResponseError,
    ResourceExistsError,
    ResourceNotFoundError,
    ResourceNotModifiedError,
    map_error,
)
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpResponse
from azure.core.rest import HttpRequest
from azure.core.tracing.decorator import distributed_trace
from azure.core.utils import case_insensitive_dict
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models as _models
from ..._serialization import Serializer
from .._vendor import _convert_request, _format_url_section

T = TypeVar("T")
ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

_SERIALIZER = Serializer()
_SERIALIZER.client_side_validation = False


def build_list_request(**kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2023-05-01-preview"))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop("template_url", "/providers/Microsoft.EdgeOrder/hciCatalog")

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_get_request(catalog_name: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2023-05-01-preview"))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop("template_url", "/providers/Microsoft.EdgeOrder/hciCatalog/{catalogName}")
    path_format_arguments = {
        "catalogName": _SERIALIZER.url(
            "catalog_name", catalog_name, "str", max_length=12, min_length=3, pattern=r"^[a-z][a-z0-9]*$"
        ),
    }

    _url: str = _format_url_section(_url, **path_format_arguments)  # type: ignore

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_list_solution_recommendations_request(catalog_name: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2023-05-01-preview"))
    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop(
        "template_url", "/providers/Microsoft.EdgeOrder/hciCatalog/{catalogName}/listSolutionRecommendations"
    )
    path_format_arguments = {
        "catalogName": _SERIALIZER.url(
            "catalog_name", catalog_name, "str", max_length=12, min_length=3, pattern=r"^[a-z][a-z0-9]*$"
        ),
    }

    _url: str = _format_url_section(_url, **path_format_arguments)  # type: ignore

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_search_request(catalog_name: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2023-05-01-preview"))
    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop("template_url", "/providers/Microsoft.EdgeOrder/hciCatalog/{catalogName}/search")
    path_format_arguments = {
        "catalogName": _SERIALIZER.url(
            "catalog_name", catalog_name, "str", max_length=12, min_length=3, pattern=r"^[a-z][a-z0-9]*$"
        ),
    }

    _url: str = _format_url_section(_url, **path_format_arguments)  # type: ignore

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


class HciCatalogOperations:
    """
    .. warning::
        **DO NOT** instantiate this class directly.

        Instead, you should access the following operations through
        :class:`~azure.mgmt.edgeorder.v2023_05_01_preview.EdgeOrderManagementClient`'s
        :attr:`hci_catalog` attribute.
    """

    models = _models

    def __init__(self, *args, **kwargs):
        input_args = list(args)
        self._client = input_args.pop(0) if input_args else kwargs.pop("client")
        self._config = input_args.pop(0) if input_args else kwargs.pop("config")
        self._serialize = input_args.pop(0) if input_args else kwargs.pop("serializer")
        self._deserialize = input_args.pop(0) if input_args else kwargs.pop("deserializer")
        self._api_version = input_args.pop(0) if input_args else kwargs.pop("api_version")

    @distributed_trace
    def list(self, **kwargs: Any) -> Iterable["_models.HciCatalogResource"]:
        """List HciCatalog resources.

        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either HciCatalogResource or the result of cls(response)
        :rtype:
         ~azure.core.paging.ItemPaged[~azure.mgmt.edgeorder.v2023_05_01_preview.models.HciCatalogResource]
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        _headers = kwargs.pop("headers", {}) or {}
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version: str = kwargs.pop(
            "api_version", _params.pop("api-version", self._api_version or "2023-05-01-preview")
        )
        cls: ClsType[_models.HciCatalogResourceList] = kwargs.pop("cls", None)

        error_map = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        def prepare_request(next_link=None):
            if not next_link:

                request = build_list_request(
                    api_version=api_version,
                    template_url=self.list.metadata["url"],
                    headers=_headers,
                    params=_params,
                )
                request = _convert_request(request)
                request.url = self._client.format_url(request.url)

            else:
                # make call to next link with the client's api-version
                _parsed_next_link = urllib.parse.urlparse(next_link)
                _next_request_params = case_insensitive_dict(
                    {
                        key: [urllib.parse.quote(v) for v in value]
                        for key, value in urllib.parse.parse_qs(_parsed_next_link.query).items()
                    }
                )
                _next_request_params["api-version"] = self._config.api_version
                request = HttpRequest(
                    "GET", urllib.parse.urljoin(next_link, _parsed_next_link.path), params=_next_request_params
                )
                request = _convert_request(request)
                request.url = self._client.format_url(request.url)
                request.method = "GET"
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize("HciCatalogResourceList", pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)  # type: ignore
            return deserialized.next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            _stream = False
            pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
                request, stream=_stream, **kwargs
            )
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                error = self._deserialize.failsafe_deserialize(_models.ErrorResponse, pipeline_response)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(get_next, extract_data)

    list.metadata = {"url": "/providers/Microsoft.EdgeOrder/hciCatalog"}

    @distributed_trace
    def get(self, catalog_name: str, **kwargs: Any) -> _models.HciCatalogResource:
        """Get default HciCatalog resource.

        :param catalog_name: Name of HCI catalog resource. Required.
        :type catalog_name: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: HciCatalogResource or the result of cls(response)
        :rtype: ~azure.mgmt.edgeorder.v2023_05_01_preview.models.HciCatalogResource
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version: str = kwargs.pop(
            "api_version", _params.pop("api-version", self._api_version or "2023-05-01-preview")
        )
        cls: ClsType[_models.HciCatalogResource] = kwargs.pop("cls", None)

        request = build_get_request(
            catalog_name=catalog_name,
            api_version=api_version,
            template_url=self.get.metadata["url"],
            headers=_headers,
            params=_params,
        )
        request = _convert_request(request)
        request.url = self._client.format_url(request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.ErrorResponse, pipeline_response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize("HciCatalogResource", pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized

    get.metadata = {"url": "/providers/Microsoft.EdgeOrder/hciCatalog/{catalogName}"}

    @overload
    def list_solution_recommendations(
        self,
        catalog_name: str,
        solution_recommendation_request: _models.SolutionRecommendationRequest,
        *,
        content_type: str = "application/json",
        **kwargs: Any
    ) -> List[_models.RecommendedSolution]:
        """Get solution recommendation.

        :param catalog_name: Name of HCI catalog resource. Required.
        :type catalog_name: str
        :param solution_recommendation_request: Captures requirement and workloads for which solution
         is required. Required.
        :type solution_recommendation_request:
         ~azure.mgmt.edgeorder.v2023_05_01_preview.models.SolutionRecommendationRequest
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of RecommendedSolution or the result of cls(response)
        :rtype: list[~azure.mgmt.edgeorder.v2023_05_01_preview.models.RecommendedSolution]
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def list_solution_recommendations(
        self,
        catalog_name: str,
        solution_recommendation_request: IO,
        *,
        content_type: str = "application/json",
        **kwargs: Any
    ) -> List[_models.RecommendedSolution]:
        """Get solution recommendation.

        :param catalog_name: Name of HCI catalog resource. Required.
        :type catalog_name: str
        :param solution_recommendation_request: Captures requirement and workloads for which solution
         is required. Required.
        :type solution_recommendation_request: IO
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of RecommendedSolution or the result of cls(response)
        :rtype: list[~azure.mgmt.edgeorder.v2023_05_01_preview.models.RecommendedSolution]
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def list_solution_recommendations(
        self,
        catalog_name: str,
        solution_recommendation_request: Union[_models.SolutionRecommendationRequest, IO],
        **kwargs: Any
    ) -> List[_models.RecommendedSolution]:
        """Get solution recommendation.

        :param catalog_name: Name of HCI catalog resource. Required.
        :type catalog_name: str
        :param solution_recommendation_request: Captures requirement and workloads for which solution
         is required. Is either a SolutionRecommendationRequest type or a IO type. Required.
        :type solution_recommendation_request:
         ~azure.mgmt.edgeorder.v2023_05_01_preview.models.SolutionRecommendationRequest or IO
        :keyword content_type: Body Parameter content-type. Known values are: 'application/json'.
         Default value is None.
        :paramtype content_type: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of RecommendedSolution or the result of cls(response)
        :rtype: list[~azure.mgmt.edgeorder.v2023_05_01_preview.models.RecommendedSolution]
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version: str = kwargs.pop(
            "api_version", _params.pop("api-version", self._api_version or "2023-05-01-preview")
        )
        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[List[_models.RecommendedSolution]] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(solution_recommendation_request, (IOBase, bytes)):
            _content = solution_recommendation_request
        else:
            _json = self._serialize.body(solution_recommendation_request, "SolutionRecommendationRequest")

        request = build_list_solution_recommendations_request(
            catalog_name=catalog_name,
            api_version=api_version,
            content_type=content_type,
            json=_json,
            content=_content,
            template_url=self.list_solution_recommendations.metadata["url"],
            headers=_headers,
            params=_params,
        )
        request = _convert_request(request)
        request.url = self._client.format_url(request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.ErrorResponse, pipeline_response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize("[RecommendedSolution]", pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized

    list_solution_recommendations.metadata = {
        "url": "/providers/Microsoft.EdgeOrder/hciCatalog/{catalogName}/listSolutionRecommendations"
    }

    @overload
    def search(
        self,
        catalog_name: str,
        hci_catalog_search_request: _models.HciCatalogSearchRequest,
        *,
        content_type: str = "application/json",
        **kwargs: Any
    ) -> _models.HciCatalogSearchResponse:
        """Search HCI catalog.

        :param catalog_name: Name of HCI catalog resource. Required.
        :type catalog_name: str
        :param hci_catalog_search_request: Hci Catalog search request. Required.
        :type hci_catalog_search_request:
         ~azure.mgmt.edgeorder.v2023_05_01_preview.models.HciCatalogSearchRequest
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: HciCatalogSearchResponse or the result of cls(response)
        :rtype: ~azure.mgmt.edgeorder.v2023_05_01_preview.models.HciCatalogSearchResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def search(
        self,
        catalog_name: str,
        hci_catalog_search_request: IO,
        *,
        content_type: str = "application/json",
        **kwargs: Any
    ) -> _models.HciCatalogSearchResponse:
        """Search HCI catalog.

        :param catalog_name: Name of HCI catalog resource. Required.
        :type catalog_name: str
        :param hci_catalog_search_request: Hci Catalog search request. Required.
        :type hci_catalog_search_request: IO
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: HciCatalogSearchResponse or the result of cls(response)
        :rtype: ~azure.mgmt.edgeorder.v2023_05_01_preview.models.HciCatalogSearchResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def search(
        self, catalog_name: str, hci_catalog_search_request: Union[_models.HciCatalogSearchRequest, IO], **kwargs: Any
    ) -> _models.HciCatalogSearchResponse:
        """Search HCI catalog.

        :param catalog_name: Name of HCI catalog resource. Required.
        :type catalog_name: str
        :param hci_catalog_search_request: Hci Catalog search request. Is either a
         HciCatalogSearchRequest type or a IO type. Required.
        :type hci_catalog_search_request:
         ~azure.mgmt.edgeorder.v2023_05_01_preview.models.HciCatalogSearchRequest or IO
        :keyword content_type: Body Parameter content-type. Known values are: 'application/json'.
         Default value is None.
        :paramtype content_type: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: HciCatalogSearchResponse or the result of cls(response)
        :rtype: ~azure.mgmt.edgeorder.v2023_05_01_preview.models.HciCatalogSearchResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version: str = kwargs.pop(
            "api_version", _params.pop("api-version", self._api_version or "2023-05-01-preview")
        )
        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[_models.HciCatalogSearchResponse] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(hci_catalog_search_request, (IOBase, bytes)):
            _content = hci_catalog_search_request
        else:
            _json = self._serialize.body(hci_catalog_search_request, "HciCatalogSearchRequest")

        request = build_search_request(
            catalog_name=catalog_name,
            api_version=api_version,
            content_type=content_type,
            json=_json,
            content=_content,
            template_url=self.search.metadata["url"],
            headers=_headers,
            params=_params,
        )
        request = _convert_request(request)
        request.url = self._client.format_url(request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.ErrorResponse, pipeline_response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize("HciCatalogSearchResponse", pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized

    search.metadata = {"url": "/providers/Microsoft.EdgeOrder/hciCatalog/{catalogName}/search"}
