# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from io import IOBase
import sys
from typing import Any, Callable, Dict, IO, Optional, TypeVar, Union, overload

from azure.core.exceptions import (
    ClientAuthenticationError,
    HttpResponseError,
    ResourceExistsError,
    ResourceNotFoundError,
    ResourceNotModifiedError,
    map_error,
)
from azure.core.pipeline import PipelineResponse
from azure.core.rest import HttpRequest, HttpResponse
from azure.core.tracing.decorator import distributed_trace
from azure.core.utils import case_insensitive_dict
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models as _models
from .._serialization import Serializer
from .._vendor import SecurityInsightsMixinABC

if sys.version_info >= (3, 9):
    from collections.abc import MutableMapping
else:
    from typing import MutableMapping  # type: ignore
T = TypeVar("T")
ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

_SERIALIZER = Serializer()
_SERIALIZER.client_side_validation = False


def build_list_geodata_by_ip_request(
    resource_group_name: str,
    workspace_name: str,
    enrichment_type: Union[str, _models.EnrichmentType],
    subscription_id: str,
    **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2025-04-01-preview"))
    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop(
        "template_url",
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/enrichment/{enrichmentType}/listGeodataByIp",
    )  # pylint: disable=line-too-long
    path_format_arguments = {
        "subscriptionId": _SERIALIZER.url("subscription_id", subscription_id, "str"),
        "resourceGroupName": _SERIALIZER.url(
            "resource_group_name", resource_group_name, "str", max_length=90, min_length=1
        ),
        "workspaceName": _SERIALIZER.url(
            "workspace_name",
            workspace_name,
            "str",
            max_length=90,
            min_length=1,
            pattern=r"^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$",
        ),
        "enrichmentType": _SERIALIZER.url("enrichment_type", enrichment_type, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_list_whois_by_domain_request(
    resource_group_name: str,
    workspace_name: str,
    enrichment_type: Union[str, _models.EnrichmentType],
    subscription_id: str,
    **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2025-04-01-preview"))
    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop(
        "template_url",
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/enrichment/{enrichmentType}/listWhoisByDomain",
    )  # pylint: disable=line-too-long
    path_format_arguments = {
        "subscriptionId": _SERIALIZER.url("subscription_id", subscription_id, "str"),
        "resourceGroupName": _SERIALIZER.url(
            "resource_group_name", resource_group_name, "str", max_length=90, min_length=1
        ),
        "workspaceName": _SERIALIZER.url(
            "workspace_name",
            workspace_name,
            "str",
            max_length=90,
            min_length=1,
            pattern=r"^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$",
        ),
        "enrichmentType": _SERIALIZER.url("enrichment_type", enrichment_type, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


class SecurityInsightsOperationsMixin(SecurityInsightsMixinABC):

    @overload
    def list_geodata_by_ip(
        self,
        resource_group_name: str,
        workspace_name: str,
        enrichment_type: Union[str, _models.EnrichmentType],
        ip_address_body: _models.EnrichmentIpAddressBody,
        *,
        content_type: str = "application/json",
        **kwargs: Any
    ) -> _models.EnrichmentIpGeodata:
        """Get geodata for a single IP address.

        :param resource_group_name: The name of the resource group. The name is case insensitive.
         Required.
        :type resource_group_name: str
        :param workspace_name: The name of the workspace. Required.
        :type workspace_name: str
        :param enrichment_type: Enrichment type. "main" Required.
        :type enrichment_type: str or ~azure.mgmt.securityinsight.models.EnrichmentType
        :param ip_address_body: IP address (v4 or v6) to be enriched. Required.
        :type ip_address_body: ~azure.mgmt.securityinsight.models.EnrichmentIpAddressBody
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: EnrichmentIpGeodata or the result of cls(response)
        :rtype: ~azure.mgmt.securityinsight.models.EnrichmentIpGeodata
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def list_geodata_by_ip(
        self,
        resource_group_name: str,
        workspace_name: str,
        enrichment_type: Union[str, _models.EnrichmentType],
        ip_address_body: IO[bytes],
        *,
        content_type: str = "application/json",
        **kwargs: Any
    ) -> _models.EnrichmentIpGeodata:
        """Get geodata for a single IP address.

        :param resource_group_name: The name of the resource group. The name is case insensitive.
         Required.
        :type resource_group_name: str
        :param workspace_name: The name of the workspace. Required.
        :type workspace_name: str
        :param enrichment_type: Enrichment type. "main" Required.
        :type enrichment_type: str or ~azure.mgmt.securityinsight.models.EnrichmentType
        :param ip_address_body: IP address (v4 or v6) to be enriched. Required.
        :type ip_address_body: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: EnrichmentIpGeodata or the result of cls(response)
        :rtype: ~azure.mgmt.securityinsight.models.EnrichmentIpGeodata
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def list_geodata_by_ip(
        self,
        resource_group_name: str,
        workspace_name: str,
        enrichment_type: Union[str, _models.EnrichmentType],
        ip_address_body: Union[_models.EnrichmentIpAddressBody, IO[bytes]],
        **kwargs: Any
    ) -> _models.EnrichmentIpGeodata:
        """Get geodata for a single IP address.

        :param resource_group_name: The name of the resource group. The name is case insensitive.
         Required.
        :type resource_group_name: str
        :param workspace_name: The name of the workspace. Required.
        :type workspace_name: str
        :param enrichment_type: Enrichment type. "main" Required.
        :type enrichment_type: str or ~azure.mgmt.securityinsight.models.EnrichmentType
        :param ip_address_body: IP address (v4 or v6) to be enriched. Is either a
         EnrichmentIpAddressBody type or a IO[bytes] type. Required.
        :type ip_address_body: ~azure.mgmt.securityinsight.models.EnrichmentIpAddressBody or IO[bytes]
        :return: EnrichmentIpGeodata or the result of cls(response)
        :rtype: ~azure.mgmt.securityinsight.models.EnrichmentIpGeodata
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version: str = kwargs.pop("api_version", _params.pop("api-version", self._config.api_version))
        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[_models.EnrichmentIpGeodata] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(ip_address_body, (IOBase, bytes)):
            _content = ip_address_body
        else:
            _json = self._serialize.body(ip_address_body, "EnrichmentIpAddressBody")

        _request = build_list_geodata_by_ip_request(
            resource_group_name=resource_group_name,
            workspace_name=workspace_name,
            enrichment_type=enrichment_type,
            subscription_id=self._config.subscription_id,
            api_version=api_version,
            content_type=content_type,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize("EnrichmentIpGeodata", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore

    @overload
    def list_whois_by_domain(
        self,
        resource_group_name: str,
        workspace_name: str,
        enrichment_type: Union[str, _models.EnrichmentType],
        domain_body: _models.EnrichmentDomainBody,
        *,
        content_type: str = "application/json",
        **kwargs: Any
    ) -> _models.EnrichmentDomainWhois:
        """Get whois information for a single domain name.

        :param resource_group_name: The name of the resource group. The name is case insensitive.
         Required.
        :type resource_group_name: str
        :param workspace_name: The name of the workspace. Required.
        :type workspace_name: str
        :param enrichment_type: Enrichment type. "main" Required.
        :type enrichment_type: str or ~azure.mgmt.securityinsight.models.EnrichmentType
        :param domain_body: Domain name to be enriched. Only domain name is accepted. Required.
        :type domain_body: ~azure.mgmt.securityinsight.models.EnrichmentDomainBody
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: EnrichmentDomainWhois or the result of cls(response)
        :rtype: ~azure.mgmt.securityinsight.models.EnrichmentDomainWhois
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def list_whois_by_domain(
        self,
        resource_group_name: str,
        workspace_name: str,
        enrichment_type: Union[str, _models.EnrichmentType],
        domain_body: IO[bytes],
        *,
        content_type: str = "application/json",
        **kwargs: Any
    ) -> _models.EnrichmentDomainWhois:
        """Get whois information for a single domain name.

        :param resource_group_name: The name of the resource group. The name is case insensitive.
         Required.
        :type resource_group_name: str
        :param workspace_name: The name of the workspace. Required.
        :type workspace_name: str
        :param enrichment_type: Enrichment type. "main" Required.
        :type enrichment_type: str or ~azure.mgmt.securityinsight.models.EnrichmentType
        :param domain_body: Domain name to be enriched. Only domain name is accepted. Required.
        :type domain_body: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: EnrichmentDomainWhois or the result of cls(response)
        :rtype: ~azure.mgmt.securityinsight.models.EnrichmentDomainWhois
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def list_whois_by_domain(
        self,
        resource_group_name: str,
        workspace_name: str,
        enrichment_type: Union[str, _models.EnrichmentType],
        domain_body: Union[_models.EnrichmentDomainBody, IO[bytes]],
        **kwargs: Any
    ) -> _models.EnrichmentDomainWhois:
        """Get whois information for a single domain name.

        :param resource_group_name: The name of the resource group. The name is case insensitive.
         Required.
        :type resource_group_name: str
        :param workspace_name: The name of the workspace. Required.
        :type workspace_name: str
        :param enrichment_type: Enrichment type. "main" Required.
        :type enrichment_type: str or ~azure.mgmt.securityinsight.models.EnrichmentType
        :param domain_body: Domain name to be enriched. Only domain name is accepted. Is either a
         EnrichmentDomainBody type or a IO[bytes] type. Required.
        :type domain_body: ~azure.mgmt.securityinsight.models.EnrichmentDomainBody or IO[bytes]
        :return: EnrichmentDomainWhois or the result of cls(response)
        :rtype: ~azure.mgmt.securityinsight.models.EnrichmentDomainWhois
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version: str = kwargs.pop("api_version", _params.pop("api-version", self._config.api_version))
        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[_models.EnrichmentDomainWhois] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(domain_body, (IOBase, bytes)):
            _content = domain_body
        else:
            _json = self._serialize.body(domain_body, "EnrichmentDomainBody")

        _request = build_list_whois_by_domain_request(
            resource_group_name=resource_group_name,
            workspace_name=workspace_name,
            enrichment_type=enrichment_type,
            subscription_id=self._config.subscription_id,
            api_version=api_version,
            content_type=content_type,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        deserialized = self._deserialize("EnrichmentDomainWhois", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore
