include *.md
include LICENSE
include azure/healthdataaiservices/deid/py.typed
recursive-include tests *.py
recursive-include samples *.py *.md
include azure/__init__.py
include azure/healthdataaiservices/__init__.py